body {
  font-family: "Montserrat", sans-serif;
  background: #93989c;
  width: fit-content;
}
h1 {
  color: #f37e53;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
h2 {
  color: #f37e53;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.list {
  font-size: 14px;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
  list-style-type: border;
}
main {
  padding: 102px 88px 102px 88px;
}
